//*=========================================
//** Imports **
//*=========================================

@use 'bits' as *; //Contains variables, media queries mixins etc.


// *=========================================
// ** Wrappers **
// *=========================================

html {
  font-size: 10px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

// * Box sizing rules
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;
  @include main-font-stack;
  background-color: skyblue;
}

.main {
  padding: 100px;
}

h1,
h2 {
  font-size: 4rem;
}

p {
  font-size: 4rem;
}

.wrapper {
  display: flex;
  justify-content: center;
  column-gap: 2rem;
}

.items {
  display: flex;
  align-items: center;
  background-color: lavender;
  padding: 1rem;
}