//*=========================================
//** Imports **
//*=========================================

@use 'bits' as *; //Contains variables, media queries mixins etc.


// *=========================================
// ** Wrappers **
// *=========================================

html {
  font-size: 10px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

// * Box sizing rules
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;
  @include main-font-stack;
}

.main-nav {
  @include flex(row);
  justify-content: space-around;
  width: 100%;
  background-color: rgb(102, 51, 153);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.main-nav a {
  font-size: 2rem;
  padding: 2rem;
  color: $font-colour-light;
}

.main {
  padding: 100px;
}

.container {
  @include flex(row);
  justify-content: space-around;
  flex-wrap: wrap;
}

.content {
  flex: 0 1 auto;
  width: 400px;
  height: 200px;
  background-color: rebeccapurple;
  margin: 20px;
}

h1 {
  font-size: 4rem;
}